.cook {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {

    .cook_title {
      font-family: 'Tinos', serif;
      font-size: 54px;
      margin-bottom: 100px;

      span {

        color: #D67E34;

      }

    }

    .cook_image {
      img {
        margin-right: 32px;
      }
    }

  }


}