.gallery {
  .container {

    .gallery_title {
      font-size: 54px;
      font-family: 'Tinos', serif;
      text-align: center;
      padding-top: 100px;
      margin-bottom: 60px;

      span {
        color: #D67E34;
      }

    }

    .gallery_content {
      display: flex;
      justify-content: center;


      .gallery_left {
        margin-right: 20px;

      }

    }
  }

}

.gallery_down, .gallery_up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
